{
  "env": {
    "browser": true
  },
  "extends": ["react-app", "airbnb"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-underscore-dangle": [2, { "allow": ["_id"] }],
    "max-len": 0
  }
}
